<html>
<head>


</head>
<body>

<div class="main" style="width: 100%; height: 100%; background: aquamarine">
    hello

    <!-- *Viber Button -->
    <div>
        <div style=""
             class="eapp-viber-chat-root-layout-component eapps-viber-chat-e878026f-bb60-4469-99aa-8e6713260f4c-custom-css-hook"
             id="portal-e878026f-bb60-4469-99aa-8e6713260f4c">
            <div type="floating" class="Window__Component-sc-1wwhwms-0 gFMxIq">
                <div type="floating" id="chatElementId" class="Window__WindowComponent-sc-1wwhwms-1 cgetzf"
                     style="width: 360px;">
                    <div color="rgb(255, 255, 255)" role="button" tabindex="0"
                         class="Close__Component-sc-9nuxpx-0 jquJIT"></div>
                    <div class="Header__Component-sc-5nh99s-0 kJzjlF">
                        <div size="52" class="UserImage__Component-sc-1qu4hk4-0 dwla-DG">
                            <div class="UserImage__ImageContainer-sc-1qu4hk4-1 jSnLdm">
                                <div class="UserImage__Image-sc-1qu4hk4-2 ibTKhQ"></div>
                            </div>
                        </div>
                        <div class="Header__Info-sc-5nh99s-1 cDWrEO">
                            <div class="Header__Name-sc-5nh99s-2 cbZbti">Илья</div>
                            <div class="Header__AnswerTime-sc-5nh99s-3 gHvZA-d">
                                <div>Руководитель отдела</div>
                            </div>
                        </div>
                    </div>
                    <div class="ViberChat__Component-sc-17tf7sb-0 lnPhPV">
                        <div class="ViberChat__Time-sc-17tf7sb-1 dfoZbT">
                            <div class="ViberChat__TimeInner-sc-17tf7sb-2 kxYJUC">
                                <div class="ViberChat__TimeValue-sc-17tf7sb-3 gfsNQY">
                                    <script>

                                        var today = new Date();
                                        var time = today.getHours() + ":" + today.getMinutes();
                                        document.write(time);
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="ViberChat__MessageContainer-sc-17tf7sb-4 jaBEAy">
                            <div class="ViberChat__MessageUser-sc-17tf7sb-5 cSA-drn">
                                <div size="28" class="UserImage__Component-sc-1qu4hk4-0 fhXUPt">
                                    <div class="UserImage__ImageContainer-sc-1qu4hk4-1 jSnLdm">
                                        <div class="UserImage__Image-sc-1qu4hk4-2 ibTKhQ"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="DefaultDots__Component-sc-krkl3g-0 eqofwj" style="opacity: 0;">
                                <div class="DefaultDots__ComponentInner-sc-krkl3g-1 dUAOGg">
                                    <div class="DefaultDots__Dot-sc-krkl3g-2 DefaultDots__DotOne-sc-krkl3g-3 kVRSwe fTnILA"></div>
                                    <div class="DefaultDots__Dot-sc-krkl3g-2 DefaultDots__DotTwo-sc-krkl3g-4 kVRSwe CAQwD"></div>
                                    <div class="DefaultDots__Dot-sc-krkl3g-2 DefaultDots__DotThree-sc-krkl3g-5 kVRSwe cNCCtF"></div>
                                </div>
                            </div>
                            <div class="ViberChat__Message-sc-17tf7sb-6 pfIQQ" style="opacity: 1;">
                                <div>Добрый день.</div>
                                <div>Могу я что-нибудь Вам подсказать?</div>
                            </div>
                        </div>
                    </div>
                    <a role="button" href="viber://chat?number=375296586722" title="Viber"
                       class="DefaultButton__DefaultButtonComponent-sc-1v663dx-0 dFLSui"><span
                            class="DefaultButton__DefaultButtonText-sc-1v663dx-1 ecYRLg">Написать сообщение</span></a>
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <div onclick="hideDialog()"
                             style="cursor: pointer; align-items: center; justify-content: center; border-radius: 12px; box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px; width: 20px; height: 20px; overflow: hidden; position: absolute; right: 8px; top: 8px; background: rgb(249, 50, 98); display: flex;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 10 10"
                                 style="display: block; pointer-events: none;">
                                <path fill="#ffffff"
                                      d="M6.01 5l3.78 3.78a.714.714 0 1 1-1.01 1.01L5 6.01 1.22 9.79A.714.714 0 1 1 .21 8.78L3.99 5 .21 1.22A.714.714 0 0 1 1.22.21L5 3.99 8.78.21a.714.714 0 0 1 1.01 1.01L6.01 5z"></path>
                            </svg>
                        </div>
                        </a></div>
                </div>
                <div role="button" tabindex="0" onclick="toggleMainDialog()" type="text"
                     class="Bubble__BubbleComponent-sc-13azvyr-3 gzHFOs">
                    <div class="Bubble__NotificationBadge-sc-13azvyr-2 fUqMpy"></div>
                    <div class="Icon__Component-sc-19xn1fe-0 bWezyq Bubble__StyledIcon-sc-13azvyr-1 fOpOe"
                         color="rgb(255, 255, 255)" height="20" width="20">
                        <svg viewBox="0 0 32 32" fill="#0084ff">
                            <path d="M27.276 4.92C30.322 7.473 32 10.877 32 14.506c0 3.628-1.678 7.032-4.724 9.585-3.017 2.528-7.021 3.92-11.276 3.92-.358 0-.72-.01-1.08-.03C10.251 30.606 6.434 31 4.566 31c-.656 0-1.024-.05-1.04-.052a.44.44 0 0 1-.357-.325.476.476 0 0 1 .135-.48c2.535-2.272 3.007-4.179 3.095-4.83-1.899-1.204-3.478-2.768-4.578-4.539C.63 18.856 0 16.688 0 14.506c0-3.629 1.678-7.033 4.724-9.586C7.74 2.392 11.744 1 16 1c4.255 0 8.26 1.392 11.276 3.92zM9 16a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm7 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm7 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"></path>
                        </svg>
                    </div>
                    <div class="Bubble__BubbleText-sc-13azvyr-0 dVOzFB">Чат</div>
                </div>
            </div>
        </div>
        <script>
            var delayInMilliseconds = 7000; //7 second
            var x = document.getElementById("chatElementId");

            setTimeout(
                function () {
                    if (typeof (x) != 'undefined' && x != null)
                        if (x.style.display == "") {
                            toggleMainDialog();
                        }
                }
                , delayInMilliseconds);

            function hideDialog() {
                x.style.display = "none"
            }

            function toggleMainDialog() {
                if (typeof (x) != 'undefined' && x != null)
                    if (x.style.display === "none" || x.style.display === "") {
                        x.style.display = "flex";
                    } else {
                        x.style.display = "none";
                    }
            }
        </script>

    </div>
    <!-- Viber Button* -->
</div>
<link rel="stylesheet" href="style.css">
</body>

</html>
